<span data-date='<%= holiday.dayoff %>' 
      data-holiday-target='dayOff' class='flex items-center justify-between w-24 p-2 m-auto mb-2 border rounded'
> 
  <%= holiday.dayoff %>
  <%= link_to admin_holiday_path(holiday), data: {turbo_method: 'delete', turbo_confirm: '確認刪除？'},class: 'bg-red-600 major-btn hover:bg-red-800' do%>
    <i class="fa-solid fa-xmark"></i>
  <% end %>
</span>