<div class="m-2 lg:mx-4 dark:bg-white">
  <div class="flex navbar bg-base-100 my-3 border-2 rounded-xl lg:w-[86vw] dark:bg-white dark:text-gray-600">
    <div class="lg:mr-auto">
      <%= link_to admin_restaurants_path do %>
        <p class="hidden normal-case cursor-pointer btn btn-ghost lg:flex">返回</p>
      <% end %>
    </div>
    <div class="m-auto lg:ml-auto">
      <%= link_to '行事曆', calendar_admin_restaurant_reservations_path(@restaurant), data: { turbo_frame: "calendar" }, class: "cursor-pointer text-xl normal-case btn btn-ghost introCalender" %>
    </div>
    <div class="lg:ml-auto">
      <%= link_to '桌位圖', tablemap_admin_restaurant_tables_path(@restaurant), class:"cursor-pointer hidden normal-case btn btn-ghost introTable lg:flex"%>
      <button data-action="click->hamburger#switch" class="mx-2 cursor-pointer lg:hidden"><i class="cursor-pointer fa-solid fa-user-plus"></i></button>
    </div>
  </div>
</div>