<%= render "shared/navbar" %> 
<div class="flex flex-col justify-center min-h-screen bg-gray-100 sm:py-12">
  <div class="relative py-32 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 mx-8 bg-white shadow md:mx-0 rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto ">
        <div class="flex items-center space-x-5 ">
          <div class="flex self-start m-auto text-xl font-semibold text-gray-700 ">
          <%= image_tag "logo.png", class:" w-10 m-auto" %>
            <h2 class="text-2xl leading-relaxed">修改餐廳資訊</h2>
          </div>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-8 space-y-4 text-base leading-6 text-gray-700 sm:text-lg sm:leading-7">
            <div class="flex flex-col">
          <%= render 'form', model: @restaurant %>
        </div>
      </div>
    </div>
  </div>
</div>
