<section data-controller="hamburger" class="h-screen lg:flex">
  <%= render "shared/adminSidebar" %> 

  <div>
    <%= render "/shared/adminNavbar"%>
    <div>
      <div class="mx-auto">
        <div class="w-4/5 px-4 mx-auto mt-8 bg-white border-2 border-b rounded-lg shadow lg:w-2/3 lg:m-4 lg:mx-4">
          <div>
            <div class="flex items-center space-x-5 ">
              <div class="flex py-4 m-auto text-xl font-semibold text-gray-700 ">
              <%= image_tag "logo.png", class:" w-10 m-auto" %>
                <h2 class="text-2xl leading-relaxed">修改餐廳資訊</h2>
              </div>
            </div>
            <div class="">
              <div class="py-8 space-y-4 text-base leading-6 text-gray-700 sm:text-lg sm:leading-7">
                <div class="flex flex-col">
              <%= render 'form', model: @restaurant %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>