<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full rounded-lg shadow dark:border md:mt-0 md:max-w-lg xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold tracking-tight text-center text-red-600 md:text-2xl">
            座位已滿
          </h1>
          <div class='text-center'>
            <%= link_to '首頁', root_path, class: 'major-btn px-10 text-lg' %>
          </div>
        </div>
      </div>
  </div>
</section>




