@tailwind base;
@tailwind components;
@tailwind utilities;

.action-btn {
  @apply inline-block py-1 text-white bg-teal-700 rounded cursor-pointer select-none lg:px-4 hover:bg-teal-800;
}

.unselect-btn {
  @apply py-1 text-gray-800 bg-gray-100 border-gray-300 rounded cursor-pointer select-none lg:px-4 hover:bg-gray-200;
}
.unselect-holiday-btn {
  @apply w-16 py-1 mx-1 text-gray-800 bg-gray-100 border-gray-300 rounded cursor-pointer select-none lg:w-24 lg:px-4;
}

.holiday-btn {
  @apply inline-block w-16 py-1 mx-1 text-white bg-teal-700 rounded cursor-pointer select-none lg:px-4 lg:w-24 hover:bg-teal-800;
}

.iding-input {
  @apply text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500;
}

.iding-textarea {
  @apply text-black h-32 placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500;
}
.icon-btn {
  @apply inline-block px-2 py-1 text-white bg-teal-700 rounded cursor-pointer select-none hover:bg-teal-900;
}

.void-btn {
  @apply px-4 py-1 text-white bg-gray-200 border border-none rounded cursor-auto;
}

.simulate-btn {
  @apply inline-block px-4 py-2 transition duration-200 bg-gray-100 border border-gray-300 cursor-pointer hover:bg-gray-200;
}

.time-btn {
  @apply inline-block px-4 py-2 border rounded cursor-pointer focus:bg-green focus:text-white active:ring-1 active:ring-gray-400;
}

.iding-customer-input {
  @apply text-black w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500 focus:border-transparent;
}

.next-btn-void {
  @apply left-0 right-0 w-4/5 px-4 py-2 mx-12 my-2 mt-5 text-lg font-bold tracking-wider text-white bg-gray-300 rounded sm:mx-16 md:mx-24 lg:mx-40;
}

.next-btn {
  @apply left-0 right-0 w-4/5 px-4 py-2 mx-12 my-2 mt-5 text-lg font-bold tracking-wider text-white rounded cursor-pointer bg-green sm:mx-16 md:mx-24 lg:mx-40 hover:bg-emerald-900;
}

.customer-submit-btn {
  @apply left-0 right-0 w-full px-4 py-2 my-2 mt-10 text-lg font-bold tracking-wider text-white rounded cursor-pointer bg-green hover:bg-emerald-900;
}

.customer-submit-btn-void {
  @apply left-0 right-0 w-full px-4 py-2 my-2 mt-10 text-lg font-bold tracking-wider text-white bg-gray-300 rounded;
}

.highlight {
  animation: none !important;
  transition: none !important;
  border: 1px solid rgb(15 118 110);
  color: black;
}

.tooltip {
  width: 300px;
  color: black;
}

.pagination {
  @apply p-1 m-auto rounded w-max lg:bg-gray-100;
}

.pagination .current {
  @apply inline-block py-3 px-4 m-3 text-white bg-teal-800 rounded select-none;
}

.pagination a {
  @apply inline-block p-3 m-3 text-white bg-teal-600 rounded cursor-pointer select-none lg:py-3 lg:px-4 lg:m-3 hover:bg-teal-800;
}

.first,
.page,
.last {
  @apply hidden lg:inline-block;
}
