/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.menu-horizontal > li:not(.menu-title) > details > ul {
  border-radius: 0% 0% 10% 10%;
  opacity: 80%;
  width: 7rem;
}

select {
  background: rgb(229 231 235);
  color: rgb(75 85 99);
  width: 100%;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-color: rgb(229 231 235);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  transform: none;
}
select:focus {
  background-color: #fff;
  outline: none;
  border-color: #666;
  box-shadow: 0 0 0 1px #ccc, 0 0 0 2px #666;
}

.Tablemap_Grid {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(48, 25px);
  grid-template-rows: repeat(22, 25px);
  border: 1px solid gray;
}

#draggable-container .draggable-source {
  list-style: none;
  display: block;
}

#draggable-container .empty {
  background-color: rgb(207, 203, 203);
}

.textarea-wrap-physical {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
