<p>歡迎 Welcome<%= @email %>!</p>

<p>現在你可以透過以下按鈕來確認註冊 iDing (You can confirm your account email through the button below):</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), style: "font-family:Helvetica,Roboto,Segoe UI,sans-serif;font-weight:700;font-size:14px;line-height:17px;letter-spacing:-0.2px;text-align:center;text-decoration:none;display:block;color:#003942", target: "_blank"  %></p>

